n8n/cv-evaluator-workflow.json
{
  "name": "CV Evaluator - Gmail to CV Evaluator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "message",
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred-id",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subject.toLowerCase() }}",
              "operation": "contains",
              "value2": "cv"
            },
            {
              "value1": "={{ $json.subject.toLowerCase() }}",
              "operation": "contains",
              "value2": "curriculum"
            },
            {
              "value1": "={{ $json.subject.toLowerCase() }}",
              "operation": "contains",
              "value2": "hoja de vida"
            }
          ]
        },
        "combinator": "or"
      },
      "id": "filter-cv",
      "name": "Filtrar CVs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cv-evaluator:8000/api/candidates/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "cv-eval-k3y-s3cur3-2026-automate"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-cv",
      "name": "Enviar a CV Evaluator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=📄 *Nuevo CV recibido y evaluado*\n\n*Nombre:* {{ $json.candidate.full_name }}\n*Email:* {{ $json.candidate.email }}\n*Score:* {{ $json.evaluation.score }}/10\n\n{{ $json.evaluation.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notificar (Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "disabled": true
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filtrar CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar CVs": {
      "main": [
        [
          {
            "node": "Enviar a CV Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a CV Evaluator": {
      "main": [
        [
          {
            "node": "Notificar (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-04-10T00:00:00.000Z",
      "updatedAt": "2026-04-10T00:00:00.000Z",
      "name": "cv-evaluator"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": "1"
}
